/* RESET */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* CONTENIDO */
body {
  font-family: "Lato", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

.lato-font{
  font-family: "Lato";
}



header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #2c3e50;
  padding: 1.8rem 8.5rem;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 20rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

h1, h2, h4, .logo{
  font-family: "Montserrat";
}

.logo {
  font-size: 2rem;
}

main {
  border: 1px solid green;
}


h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.section1, .section3 {
  font-size: 1.3rem;
  color: white;
  background-color: #1abc9c;
  padding: 6rem;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
}

.images img{
    width: 25%;
    border-radius: 3%;
    margin: 1rem;
}

.decoration {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin: 1.5rem;
}

.linea {
  width: 115px;
  border-top: 4px solid white;
  margin: 20px;
}

.azul {
border-color: #2c3e50;
color: #2c3e50;
}

.section1 img {
  width: 15rem;
  margin: 1.2rem 0;
}

.about {
    display: flex;
    width: 50%;
}

.about p {
    margin: 2.5rem;
    width: 30rem;
}

.button-transparent {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1.2rem 2rem;
    font-size: 1.2rem;
}

.button-send {
    color: white;
    background-color: #1abc9c;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1.2rem;
    font-size: 1.2rem;
    width: 5em;
    margin: 1rem 0;
}

.fa-download{
    margin-right: 10px;
    font-weight: bold;
}

.section4 form {
    display: flex;
    flex-direction: column;
    color: #6b6b6b;
    font-size: 1.5rem;
    width: 40%;
}

input, label{
  font-size: inherit;
  color: inherit;
  margin: 0.5rem 0;
}

input[type="text"], textarea{
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #d9d9d9;
  border-left: 0;
}

footer {
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  background-color: #2c3e50;
  text-align: center;
  font-size: 1.15rem;
  padding: 5rem 0;
}

footer a{
  color: #1abc9c;
}

.footer-about, .footer-location, .footer-web{
  min-width: 20rem;
  max-width: 20rem;
  width: 20rem;
}

 footer h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin:1rem;
 }

.footer-location{
  margin: 2rem;
  width: 30%;

}

.footer-web{
  margin: 2rem;
  width: 30%;
 
}

.redes{
  display: flex;
  justify-content: center;
}

.redes li{
display: flex;
padding: 1rem;
width: 1rem;
margin: 0 .3rem;
justify-content: center;
align-items: center;
  border: .1rem solid white;
  border-radius: 50%;
}

.footer-about{
  margin: 2rem;
  width: 20rem;
}

.footer-copyright{
    background-color: #1a252f;
    color: white;
    text-align: center;
    padding: 1.5rem;
}


@media (max-width:768px) {

.logo{
  
}

}
